{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.12.1"}}
 :aliases {:dev       {:extra-paths ["test"]}
           :test      {:main-opts ["-m" "clj-lang-extra.test-main"]}
           ;; - cljs repl | :dev:cljs:cljs-dev
           ;; - cljs test | :dev:cljs:cljs-test
           :cljs      {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.132"}}}
           :cljs-dev  {:extra-deps {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                                    com.bhauman/figwheel-main       {:mvn/version "0.2.3"}}}
           :cljs-test {:main-opts ["-m" "cljs.main" "-v" "-co" "cljs_build/node_test.edn" "-c"]}}}
